.navbar {
    padding: 0.5px;
    margin: 0.67em 0;
    background-image: linear-gradient(to right,rgb(61, 64, 254),rgb(20, 6, 112));         
}

.navbar-item {
    color:white;
    font-size: 20px;
}

.btn {
    font-size: 20px;
    margin: 5px 0;
    border-radius: 10%;
    color: white;
    background-color: rgb(0, 200, 255);
  }

  /* #searchBox, #city-search {
    float: left;
  } */

  /* #currentW {

  } */

  /* .forecastCards {
    position: relative;
  }

  #five-day {
    display: flex;
  } */


  /* h2{
    background-color: rgb(173, 173, 224);
  } */