.header {
    padding: 0.5px;
    font-size: 20px;
    margin: 0.67em 0;
    background-image: linear-gradient(to right,rgb(61, 64, 254),rgb(20, 6, 112));
    color: white;
    text-align: center;      
}

.btn {
    font-size: 20px;
    margin: 5px 0;
    border-radius: 10%;
    color: white;
    background-color: rgb(0, 200, 255);
  }

  .uv-low {
    background-color: rgb(103, 169, 103);
  }

  .uv-moderate {
    background-color: rgb(251, 251, 167);
  }

  .uv-high {
    background-color: rgb(247, 105, 105);
  }